<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
  <label for="article_title">标题:</label> 
  <input id="article_title" name="article[title]" type="text" size="40" value="<%= @article.title%>" />
  </p> 
  <p> 
  <label for="article_text">内容:</label> 
  <textarea cols="50" rows="6" id="article_text" name="article[text]"><%= @article.text%></textarea>
  </p> 
 
  <p>
    <input name="commit" type="submit" class="btn btn-primary" value="提交日记" />
  </p>
<% end %>